 
h2{
    padding-top: 20px;
    color:rgb(30, 61, 238);
    text-align: center;
  }
  .content{
    height: 200px;
    width: 100%;
    background: image-url("apps.jpg");
  }
  .search{
    text-align: center;
    color:red;
  }
  .search input{
    width: auto;
    opacity:0.6;
  }
  .nav{
    color:blue;
    font-size: 10px;
  }