// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile-pic{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: relative;
    display: inline-block;
  }
  
  .profile-pic img{
    width: auto;
    height: 100%;
    margin-left: -50px;
  }
  
  .profile-stats{
    width: 120px;
    float: left;
  }
  
  .footer{
    position: absolute;
    /*position: fixed;*/
  
    
  }
  
  /* */