<<<<<<< HEAD
<div class="list_task">
  <span><%=link_to "Home", tasks_path%></span>
  <span><%=link_to "Add new task", new_task_path,:class=>""%></span>
</div>
=======
<span class="list_task">
  <span><%=link_to "Home", tasks_path%></span>
  <span><%=link_to "Add new task", new_task_path,:class=>""%></span>
</span>
>>>>>>> 18124f75395e77796c072933e49e41a3ddf8c649
